.GridTaskForm{
    direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.CardTaskForm{
    margin-top: 5vh !important;
    background-color: #071a2f !important; 
}
.TypographyTaskForm{
    color: whitesmoke;
    text-align: center !important;
    padding: 1rem !important;
    margin: 1rem !important;
}
.TextFiledTaskForm1{
    display: block !important;
    margin: 1rem !important;
}
.TextFiledTaskForm2{
    display: block !important;
    margin: 1rem !important;
}
.ButtonTaskForm{
    display: block !important;
    margin: 1rem !important;
}
