.CardListAccounts{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #071a2f !important;
}
.CardContentList{
    display: flex;
    justify-content: space-between;
}
.DivCardContent{
    display: contents;
}
.TextFieldAccount{
    width: 25%;
}
.TypographyCard{
    color: whitesmoke;
}
.ButtonEdit{
    border-color: #c58ed1 !important;
    color: #c58ed1 !important;
    margin-right: 1rem !important;
}
.ButtonDelete{
    border-color: #a53533 !important;
    color: #a53533 !important;
}

